* {
  margin: 0;
  padding: 0;
}

body,
html {
  height: 100%;
  font-family: sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.episode-list {
  max-width: 300px;
  list-style: none;
}

.episode-list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px dashed gray;
  padding: 10px 0;
}

.episode-list-item.is-current i {
  padding-right: 1em;
  color: gray;
}

.episode-list-item .position {
  color: #00b1b4;
  font-weight: bold;
}

.episode-list-item .title {
  flex: 1;
  padding-left: 1em;
  padding-right: 1em;
}

.episode-list-item .title a {
  color: inherit;
  text-decoration: none;
}

.episode-list-item .title a:hover {
  text-decoration: underline;
}

