body, html
    height: 100%
    font-family: sans-serif

body
    max-width: 500px
    margin: auto
    display: flex
    align-items: center
    justify-content: center

.box
    border: 1px solid #cecece
    padding: 20px

.media
    display: flex
    flex: 1

.media-left
    margin-right: 1em

.media-content
    flex: 1
    // background: red

.media-content form
    display: flex
    flex-direction: column

.media-content textarea
    flex: 1
    min-height: 100px
    padding: 0
    margin-bottom: 1em

.media-content-buttons
    align-self: flex-end
